.pife_logo {
height: auto;
width: auto;
max-width: 50px;
max-height: 50px;
}

.piferia {
  height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
  display: flex;
  justify-content: center;
}

.cabeca_direita a {
  overflow: hidden;
  background-color: red;
  padding: 20px 50px;
  float: right;
  
}

.container-sm {

  padding: 10px 100px 10px 250px;
}

header {
  background-color: #16213E;
}

body {
  background-color: #1A1A2E;
}